[mariadb]
plugin_maturity=experimental
datadir=/home/eloq/mariadbdata0
lc_messages_dir=/home/eloq/workspace/mariadb/sql/share
max_connections=500
skip-log-bin
innodb_flush_method=fsync
default_storage_engine=eloq
#plugin_dir=/Users/hzhang/mariadbx/debug/lib/plugin
#socket = /tmp/mysqld.sock
port=3315
socket = /tmp/mysqld3315.sock
plugin_load_add=ha_eloq
eloq
eloq_cass_hosts=127.0.0.1
eloq_core_num=1
eloq_cass_user=cassandra
eloq_cass_password=cassandra
eloq_local_ip=127.0.0.1:8000
eloq_ip_list=127.0.0.1:8000